<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Studio di Psicologia - Supporto e benessere mentale">
  <title>{{ title }} | Dott.ssa Psicologa Sara Martini</title>
  <link rel="stylesheet" href="/assets/css/output.css">
</head>
<body class= "bg-brand-beige">
  <header class="header">
    <div class="container">
      <div class="logo">
        <h1><a href="/">Dott.ssa Psicologa Sara Martini</a></h1>
      </div>
      <nav class="nav">
        <a href="/" class="nav-link">Home</a>
        <a href="/chi-sono/" class="nav-link">Chi sono</a>
        <a href="/servizi/" class="nav-link">Servizi</a>
        <a href="/blog/" class="nav-link">Blog</a>
        <a href="/contatti/" class="nav-link">Contatti</a>
      </nav>
    </div>
  </header>

  <header class= "bg-brand-beige">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="flex items-center">
        <img src="/assets/img/logoSaraMartini1.webp" alt="Logo Dott.ssa Sara Martini" class="h-36 w-auto object-contain sepia-0">
    </a>
    <nav class="md:mr-auto md:ml-8 md:py-4 md:pl-8 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center text-brand-sage font-serif gap-5">
      <a href="/"class="mr-5 hover:text-brand-forest font-semibold text-2xl">Home</a>
      <a href="/chi-sono/"class="mr-5 hover:text-brand-forest font-semibold text-lg md:text-2xl">Chi sono</a>
      <a href="/servizi/" class="mr-5 hover:text-brand-forest font-semibold text-lg md:text-2xl">Servizi</a>
      <a href="/blog/" class="mr-5 hover:text-brand-forest font-semibold text-lg md:text-2xl">Blog</a>
      <a href="/contatti/" class="mr-5 hover:text-brand-forest font-semibold text-lg md:text-2xl">Contatti</a>
           </nav>
    <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>

  <main class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-4 gap-8 p-6 font-sans text-gray bg-brand-beige">
    <div class="lg:col-span-3">
      {{ content | safe }}
    </div>
    <aside class="hidden lg:block space-y-6">
      <h3 class="font-bold border-b pb-2">Articoli Recenti</h3>
    </aside>
  </main>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2026 Studio di Psicologia. Tutti i diritti riservati.</p>
      <p class="privacy">
        <a href="/privacy/">Privacy</a> | 
        <a href="/cookie/">Cookie Policy</a>
      </p>
    </div>
  </footer>
</body>
</html>
