<div class="swiper-slide relative flex mx-auto bg-brand-beige">
  <img src="{{ slide.imgUrl }}" class="absolute inset-0 w-full h-full object-cover opacity-90" data-swiper-parallax="-20%" alt="{{ slide.imgAlt }}">
  <div class="relative z-10 text-center px-4 pt-8 pb-20 bg-gradient-to-b from-black/70 via-black/20 to-transparent">
    <h2 class="text-4xl md:text-6xl font-bold mb-4 text-brand-beige-dark drop-shadow-[0_4px_4px_rgba(0,0,0,0.8)" data-swiper-parallax="-300">{{ slide.titolo }}</h2>
    <p class="text-xl md:text-2xl mb-8 text-brand-beige-dark" data-swiper-parallax="-200">{{ slide.messaggio }}</p>
    <a href="{{ slide.buttonLink }}" class="bg-brand-sage hover:bg-brand-forest hover:shadow-xl text-sm md:text-xl text-white px-8 py-4 rounded-2xl font-semibold transition-all duration-700 transform hover:scale-105 relative z-10" data-swiper-parallax="-100">{{ slide.buttonText }}</a>
  </div>
</div>