<section class="max-w-6xl py-20 mx-auto px-4 sm:px-6" id="services-preview">
  <h2 class="text-heading-1 md:text-heading-1-md lg:text-heading-1-lg font-serif font-bold text-brand-forest/85 tracking-[0.05em] text-center mb-12">
    I miei servizi
  </h2>
  <div class="flex flex-wrap gap-y-8 -mx-4">
    {% for card in cards %}
      {% include "layouts/components/servicesCard.njk" %}
    {% endfor %}
  </div>
</section>